@use "sass:meta";
@use "mixins";

.header-margin {
    margin-top: 120px;
    border-top: unset;
}

section {
    border-top: 1px solid rgba(var(--color-primary), 0.2);
    padding: 40px 20px;

    .content-title {
        font-size: 1.8rem;
        margin-bottom: 20px;
        max-width: 95%;
        margin-inline: auto;
        font-weight: 600;
    }

    .content-title-large {
        font-weight: 700;
        font-size: 1.8rem;
    }

    .content-desc {
        margin-bottom: 30px;
        max-width: 95%;
        margin-inline: auto;
        font-weight: 300;

        a {
            text-decoration: underline;
            text-decoration-color: rgba(var(--color-primary), 0.4);
        }
    }

    .content-desc-large {
        margin-bottom: 10px;
        font-size: 1.08rem;
    }

    .content-center {
        @include mixins.flex-center;
        margin-inline: auto;
        width: 90%;
    }

    .content-block {
        text-align: left;

        .sub-title {
            text-align: center;
            font-size: 1.3rem;
            margin-top: 30px;
            margin-bottom: 15px;

            &:first-of-type {
                margin-top: unset;
            }
        }

        .sub-desc {
            text-align: center;
            font-size: 1rem;
            margin-top: 15px;
            margin-bottom: 30px;

            &:first-of-type {
                margin-top: unset;
            }
        }

        .sub-info {
            height: 100%;
            max-width: 95%;
            margin-inline: auto;
            font-size: 0.96rem;
            font-weight: 300;

            ul {
                line-height: 1.4rem;
            }
        }

        @include meta.load-css("cards");
    }
}
