@use "breakpoints";

:root {
    color-scheme: dark;

    --color-primary: 205, 215, 240;
    --color-secondary: 24, 24, 42;
    --color-surface: 34, 33, 57;
    --color-elevated: 160, 150, 250;
    --color-accent: 199, 176, 222;

    --opacity-muted: 0.65;
    --opacity-border: 0.1;

    --radius-card: 8px;
    --radius-tag: 4px;
    --radius-control: 8px;

    --max-width-ui: 700px;
    --max-width-content: 850px;

    --header-icon-size: 40px;
    --header-height: 68px;

    --gutter: 20px;

    --interactive-transition-speed: 0.15s;

    --font-stack: "Nunito", sans-serif;
}

@media (min-width: breakpoints.$wide) {
    :root {
        --max-width-ui: 1000px;
    }
}
