:root {
    color-scheme: dark;

    --color-primary: 205, 215, 240;
    --color-secondary: 30, 30, 45;
    --color-secondary-focus: 35, 35, 50;
    --color-secondary-hover: 40, 40, 55;
    --color-third: 220, 220, 220;
    --color-thumb: rgba(80, 80, 80, 0.6);
    --color-thumb-hover: rgba(80, 80, 80, 0.8);
    --color-accent: 199, 176, 222;
    --brightness-card-thumb-focus: 1.025;
    --brightness-card-thumb-hover: 1.05;
    --color-secondary-inverted: var(--color-primary);
    --color-secondary-inverted-focus: color-mix(
        in srgb,
        rgba(var(--color-primary), 1) 95%,
        rgba(var(--color-secondary), 1)
    );
    --color-secondary-inverted-hover: color-mix(
        in srgb,
        rgba(var(--color-primary), 1) 93%,
        rgba(var(--color-secondary), 1)
    );
    --color-secondary-inverted-icon: 54, 56, 58;

    --radius-card: 10px;
    --radius-tag: 8px;

    --max-width-ui: 900px;

    --header-icon-size: 46px;

    --interactive-transition-speed: 0.2s;

    --font-stack: "Nunito", sans-serif;
}
